APP_TAG="example"
VERSION_TAG="example"
LOG_LEVEL= "INFO"
DATABASE_URL="sqlite:///./app.db"
OMOP_DATABASE_URL="sqlite:///./omop.db"
SHOW_FHIRSHEETS_LOGS=False
ENABLE_RUN_LOGS=False
ITERATION_LIMIT=100
ROOT_PATH="/api"
FORCE_RESEED=False
CORS_ORIGINS="*"